@font-face {
  font-family: 'Open-Sans';
  src: url('../../assets/fonts/open-sans.regular.ttf');
}

.services {
  padding-top: 90px;

  h1{
    color: rgb(64, 77, 95);
  }

  .container {
    .heading {
      text-align: center;

      hr {
        max-width: 40px;
        border-top: 2px solid #2286d1;
      }

      p {
        margin: 0 auto;
        max-width: 90%;
      }
    }

    .section{
        margin: 20px 0px;
        text-align: center;

        &.one{
          height: auto;
          text-align: center;
    
          .logos{
            border: 1px solid #ddd;
            padding: 10px;
            margin: 40px 0;
    
            .logo-wrapper{
              img{
                width: 60px;
                height: 60px;
                display: block;
                margin: 0 auto;
              }
            }
            h3{
              text-transform: uppercase;
              font-family: 'Open-Sans';
              color: #404d5f;
              font-size: 1.6rem;
            }
          }
   
        }
        &.two{
          .boxes{
            margin: 0 auto;

            .box{
              margin: 20px 0;
              height: 400px;
              box-shadow: 0 0 9px rgba(0, 0, 0, 0.12);

              .image-wrapper{
                height: 70%;
                background: #fff;
                position: relative;

            
                img{
                  border-radius: 50%;
                  position: absolute;
                  top: 50%;
                  left: 50%;
                  transform: translate(-50%, -50%)
                }
              }
              .info-wrapper{
                h3{
                  color: #404d5f;
                }
              }
            }
          }
        }
    }
  }
}
@media screen and (min-width: 786px) {
  .services{
    .container{
      .section{
        &.one{
          .logos{
            display: inline-block;
            width: 45%;
            border: none;
        }
      }
      }
    }
  }
}
@media screen and (min-width:1200px) {
  .services{
    .container{
      .section{
        &.one{
          .logos{
            width: 30%;
          }
        }
        &.two{
          .boxes{
            display: flex;

            .box{
              margin: 15px;
              flex: 1;
            }
          }
        }
      }
    }
  }
}