.blogs {
  padding-top: 50px;

  h1 {
    margin: 0;
    font-size: 1.5rem;
    color: #404d5f;
  }
  .container {
    .blog {
      margin: 50px 0px;
      .left-side {
        display: none;
      }
      .right-side {
        display: block;

        img {
          width: 100%;
          height: auto;
        }
        .body-wrapper {
          padding-bottom: 10px;
          border-bottom: 1px solid #ededed;
        }

        .info-wrapper {
          img {
            padding: 0px 5px;
            vertical-align: bottom;
            height: 20px;
            width: 20px;
          }
        }
      }
    }
    .links {
      margin: 0px 5px;
      display: inline-block;

      a {
        width: auto;
        color: #808080;
        background: transparent;
        padding: 5px 15px;
        border: 1px solid #3186cd;
        transition: background 0.5s ease;

        &:hover {
          background: #3186cd;
          color: #fff;
        }
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .blogs {
    padding-top: 50px;
    .container {
      .blog {
        .left-side {
          width: 80px;
          display: inline-block;
          vertical-align: top;
          border: 1px solid #ededed;

          .section {
            &:first-child {
              padding: 25px;
              border-bottom: 1px solid #ededed;

              img {
                height: 30px;
                width: 30px;
              }
            }
            &:nth-child(2) {
              padding: 10px;
              text-align: center;
              p {
                margin: 0;
              }
            }
            &:last-child {
              padding: 10px 20px;
              background: #3186cd;
              img {
                height: 20px;
                width: 20px;
              }

              small {
                vertical-align: top;
                font-size: 0.9rem;
                margin: 5px;
              }
            }
          }
        }
        .right-side {
          margin: 0px 10px;
          display: inline-block;
          width: 83%;
          .info-wrapper {
            display: none;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1200px) {
  .right-side {
    width: 88% !important;
  }
}
