$textheadersize: 1.5rem;

.blog-ctn{
  .blog{
    margin: 50px 0px;

    .image-wrapper{
      height: 60%;

      img{
        height: 100%;
        width: 100%;
      }
    }
    .info-wrapper{
      margin: 15px 0px;
      
      .img{
        display: inline-block;
        background-position: 70% 30%;
        background-size: 80px;
        border-radius: 50%;
        width: 50px;
        height: 50px;
      }

      .wrapper{
        vertical-align: top;
        display: inline-block;
        margin: 0px 15px;

        small{
          font-family: 'Open-Sans';
          display: block;
        }
      }

      .text-wrapper{
        margin: 15px 0px;

        h1{
          color: #404d5f;
          font-size: $textheadersize;
        }

        p{
          line-height: 1.7;
          color: #999;
        }
      }

      a{
        color: #999;
        &:hover{
          text-decoration: underline;
        }
      }
    }
  }
}

@media screen and (min-width: 786px) {
  .blog-ctn{
    .blog{
      margin: 15px;
      vertical-align: top;
      display: inline-block;
      width: 45%;
    }
  }
}

@media screen and (min-width: 1200px) {
  .blog-ctn{
          
    .blog{
      width: 30%;
    }
  }
}
