@keyframes slideUp {
  from {
    transform: translateY(60px);
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.container{
  width: 90%;
}
header{
  height: 800px;
  width: 100%;
  position: relative;
  

  &::after{
    background-position: 55% 30%;
    background-size: 1920px;
    content: "";
    background-repeat: no-repeat;
    opacity: 0.7;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
    background-image: url('../../assets/images/doctor.jpg');
  }

  .container{
    height: 100%;

    .text-wrapper{
      position: relative;
      top: 30%;

      h1{
        font-size: 3.5rem;
        color: #fff;

        &.animate{
          animation: slideUp 1s both;
        }

        &:nth-child(2) {
          animation-delay: .5s;
        }
      }
      p{
        font-size: 1.3rem;
        color: #fff;
        animation-delay: 1s !important;
        
        &.animate{
          animation: fadeIn 2s both;
        }
      }
    }
  }
}
.body{
  .container{
    .section-one{
      .header{
        margin: 10px auto;
        background: #fff;
        width: 80%;
        height: auto;

        section{
          height: 25%;
          padding: 30px;

          h1, p, small, h2 {
            font-weight: 400;
            font-family: 'Open Sans', sans-serif;
            color: #fff;
          }

          &:nth-child(odd) {
            background-color: #006cff;
          }
          &:nth-child(even) {
            background-color: #081f3e;
          }
          p{
            font-size: 0.9rem;
            line-height: 1.5;
          }

          a{
            border-radius: 25px;
            padding: 5px 17px;
            background: transparent;
            border: 2px solid #fff;
            color: #fff;
          }

          .wrapper{
            display: flex;
            justify-content: space-between;
          }

          .wrapper{
            margin: 20px 0px;
            padding-bottom: 5px;
            border-bottom: 1px solid #fff;
            
            h2{
              font-size: 1rem;
            }
          }

          > h2{
            margin: 1rem 0;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 990px) {

}

@media screen and (min-width: 1200px) {
  header{
    &::after{
      background-size: 100%;
    }
  }
  .body{
    .container{
      .section-one{
        .header{
          top: -150px;
          position: relative;
          width: 100%;
          display: flex;
          flex-wrap: wrap;
          
          section {
            height: auto;
            flex: 1;
          }
        }
      }
    }
  }
}