//Animations

@keyframes slideUp {
  from {
    transform: translateY(60px);
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

$textheadersize: 1.5rem;
$textheadercolor: #081f3e;



header{
  height: 800px;
  width: 100%;
  position: relative;
  

  &::after{
    background-position: 55% 30%;
    background-size: 1920px;
    content: "";
    background-repeat: no-repeat;
    opacity: 0.7;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
    background-image: url('../../assets/images/doctor.jpg');
  }

  .container{
    height: 100%;

    .text-wrapper{
      position: relative;
      top: 30%;

      h1{
        font-size: 3.5rem;

        &.animate{
          animation: slideUp 1s both;
        }

        &:nth-child(2) {
          animation-delay: .5s;
        }
      }
      p{
        color: #fff;
        font-size: 1.3rem;
        animation-delay: 1s !important;
        
        &.animate{
          animation: fadeIn 2s both;
        }
      }
    }
  }
}
.body{
  .container{
    .section-one{
      .header{
        margin: 10px auto;
        background: #fff;
        height: auto;

        section{
          height: 25%;
          padding: 30px;

          h1, p, small, h2 {
            color: #fff;
            font-weight: 400;
            font-family: 'Open Sans', sans-serif;
          }

          &:nth-child(odd) {
            background-color: #006cff;
          }
          &:nth-child(even) {
            background-color: #081f3e;
          }

          p{
            line-height: 1.5;
          }

          a{
            border-radius: 25px;
            padding: 5px 17px;
            background: transparent;
            border: 2px solid #fff;
            color: #fff;
          }

          .wrapper{
            display: flex;
            justify-content: space-between;
          }

          .wrapper{
            margin: 20px 0px;
            padding-bottom: 5px;
            border-bottom: 1px solid #fff;
            
            h2{
              font-size: 1rem;
            }
          }

          > h2{
            margin: 1rem 0;
          }
        }
      }
    }
    .section-two{
      height: auto;
      text-align: center;

      .logos{
        margin: 50px 0px;

        .logo-wrapper{
          img{
            width: 100px;
            height: 100px;
            display: block;
            margin: 0 auto;
          }
        }
      }
      h1{
        color: #081f3e;
        font-size: 3rem;
      }
      h3{
        color: #081f3e;
        font-size: 1.6rem;
      }
    }

    .section-three{
      margin: 100px 0px;
      height: auto;

      .left-side{
        padding: 20px 0px;
        
        img{
          height: 100%;
          width: 100%;
        }
      }
      .right-side{
        h1{
          color: #081f3e;
          font-size: $textheadersize;
        }

        p{
          color: #999;
        }
        a{

          .link{

            .para-wrapper{
              vertical-align: middle;
              display: inline-block;
              background: #006cff;
              height: 35px;

              p{
                padding: 8px 10px;
                margin: 0;
                color: #fff;
              }
            }
       
            .image-wrapper{
              box-sizing: border-box;
              height: 35px;
              vertical-align: middle;
              display: inline-block;
              background: #081f3e;

              img{
                padding: 10px;
              }
            }
          }
        }
      }
    }
    .section-four{
      height: auto;
      
    }
  }
}
@media screen and (min-width: 786px) {
  .body{
    .container{
      .section-two{

        .logos{
          display: inline-block;
          width: 45%;
    
          .logo-wrapper{
            margin: 15px 0px;
          }
        }
      }
    
      .section-four{
        margin: 100px 0px;
      }
    }
  }
}

@media screen and (min-width: 990px) {
  .section-three{
    .left-side, .right-side{
      vertical-align: top;
      margin: 15px;
      padding: 20px 0px;
      width: 45%;
      display: inline-block;
    }
  }
}

@media screen and (min-width: 1200px) {
  header{
    &::after{
      background-size: 100%;
    }
  }
  .body{
    .container{
      .section-one{
        .header{
          top: -150px;
          position: relative;
          width: 100%;
          display: flex;
          flex-wrap: wrap;
          
          section {
            height: auto;
            flex: 1;
          }
        }
      }
      .section-two{
        display: flex;
        .logos{
          margin: 50px 15px;
          flex: 1;
          display: block;
          
        }
      }
      .section-three{
        .right-side{
          h1{
            font-size: 2rem;
          }
          > p{
            line-height: 1.7;
          }
        }
      }
    }
  }
}