

nav{
  z-index: 999;
  width: 100%;
  transition: height .5s, background-color .5s ease;
  position: fixed;
  background: #fff;

  .container{
    box-sizing: border-box;
    width: 90%;
    transition: padding .5s ease;
    height: 100%;
    display: flex;
    justify-content: space-between;

    .logo-wrapper{
      
      h1{
        font-size: 2.5rem;
        color: #006cff;
        opacity: 1;
        span{
          color: #fff;
        }
      }
    }
    .hamburger-menu{
      position: relative;
      height: 20px;
      width: 20px;
      padding: 10px 0px;
      top: 8px;
      
      span{
        position: absolute;
        height: 2px;
        width: 20px;
        background: #404d5f;

        &:nth-child(1){
          top: 8px;
        }
        &:nth-child(2){
          top: 16px;
        }
        &:nth-child(3){
          top: 24px;
        }
      }
    }
    .web-menu {
      display: none;

    }
    .menu-items{
      overflow: hidden;
      transition: max-height .2s ease-in-out;
      position: absolute;
      width: 100%;
      top: 100%;
      background-color: #fff;

      ul{
        margin: 0;
        padding: 5px;

        a{
          color: #404d5f;
          font-weight: bold;
        }
        a > li {
          padding: 10px 5%;
          margin: 5px 0px;
        }
        
      }
    }
  }
}
@media screen and (min-width: 990px) {
  nav{
    .container{
      .hamburger-menu, .menu-items {
        display: none;
      }
      .web-menu{
        display: block;

        ul{
          margin: 15px 0px;

          a{
            color: #404d5f;
            font-weight: 600;
            display: inline-block;
            
          }
          
          a > li {
            margin: 0px 15px;
          }

          a:last-child > li {
            margin-right: 0;
          }
        }
      }
    }
  }
}