$textheadersize: 1.5rem;
$textheadercolor: #081f3e;

/** Font Family */
@font-face {
  font-family: 'Open-Sans-Light';
  src: url('../assets//fonts//open-sans.regular.ttf');
}
@font-face {
  font-family: 'Open-Sans';
  src: url('../assets//fonts//open-sans.regular.ttf');
}
@font-face {
  font-family: 'Open-Sans-SemiBold';
  src: url('../assets/fonts/open-sans.semibold.ttf');
}
@font-face {
  font-family: 'Open-Sans-Bold';
  src: url('../assets/fonts/open-sans.bold.ttf');
}

/** Key Frames */

@keyframes slideUp {
  from {
    transform: translateY(60px);
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

:root {
  scroll-behavior: auto;
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #fff;
  font-family: 'Open-Sans-Bold', sans-serif;
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

a {
  color: #fff;
  font-family: 'Open-Sans', sans-serif;
  text-decoration: none;
}

p {
  color: #999;
  font-family: 'Open-Sans', sans-serif;
}

small {
  color: #fff;
  font-family: 'Open-Sans-Light', sans-serif;
}

.container {
  width: 90%;
  max-width: 1140px;
  margin: 0 auto;
  position: relative;
}

nav {
  z-index: 999;
  width: 100%;
  transition: height 0.5s, background-color 0.5s ease;
  position: fixed;
  background: #fff;

  .container {
    box-sizing: border-box;
    width: 90%;
    transition: padding 0.5s ease;
    height: 100%;
    display: flex;
    justify-content: space-between;

    .logo-wrapper {
      h1 {
        font-size: 2.5rem;
        color: #006cff;
        opacity: 1;
        span {
          color: #fff;
        }
      }
    }
    .hamburger-menu {
      position: relative;
      height: 20px;
      width: 20px;
      padding: 10px 0px;
      top: 8px;

      span {
        position: absolute;
        height: 2px;
        width: 20px;
        background: #404d5f;

        &:nth-child(1) {
          top: 8px;
        }
        &:nth-child(2) {
          top: 16px;
        }
        &:nth-child(3) {
          top: 24px;
        }
      }
    }
    .web-menu {
      display: none;
    }
    .menu-items {
      overflow: hidden;
      transition: max-height 0.2s ease-in-out;
      position: absolute;
      width: 100%;
      top: 100%;
      background-color: #fff;

      ul {
        margin: 0;
        padding: 5px;

        a {
          color: #404d5f;
          font-weight: bold;
        }
        a > li {
          padding: 10px 5%;
          margin: 5px 0px;
        }
      }
    }
  }
}

.home {
  .header {
    position: relative;
    background-size: 1920px;
    height: 800px;
    width: 100%;
    background-position: 55% 20%;

    .container {
      height: 800px;

      .text-wrapper {
        position: relative;
        top: 30%;

        h1 {
          transform: translateY(60px);
          font-size: 3.5rem;
          color: rgb(64, 77, 95);

          &.animate {
            animation: slideUp 1s both;
          }

          &:nth-child(2) {
            animation-delay: 0.5s;
          }
        }
        p {
          opacity: 0;
          color: rgb(64, 77, 95);
          font-size: 1.3rem;
          font-family: 'Open-Sans';
          animation-delay: 1s !important;

          &.animate {
            animation: fadeIn 2s both;
          }
        }
      }
    }
  }
  .body {
    .container {
      .section-one {
        .header {
          margin: 10px auto;
          background: transparent;
          height: auto;

          section {
            height: 25%;
            margin: 0px 15px;
            padding: 30px;

            h1,
            p,
            small,
            h2 {
              color: #fff;
              font-weight: 400;
            }

            &:nth-child(1) {
              background-color: #43b9f6;
            }
            &:nth-child(2) {
              background-color: #6686ff;
            }
            &:nth-child(3) {
              background-color: #9878ff;
            }

            p {
              line-height: 1.5;
            }

            a {
              border-radius: 25px;
              padding: 5px 17px;
              background: transparent;
              border: 2px solid #fff;
              color: #fff;
            }

            .wrapper {
              display: flex;
              justify-content: space-between;
              margin: 20px 0px;
              padding-bottom: 5px;
              border-bottom: 1px solid #fff;

              p {
                margin: 0;
              }
            }
          }
        }
      }
      .section-two {
        text-align: center;

        .logos {
          margin: 50px 15px;

          .logo-wrapper {
            img {
              width: 60px;
              height: 60px;
              display: block;
              margin: 0 auto;
            }
          }
          h3 {
            text-transform: uppercase;
            font-family: 'Open-Sans';
            color: #404d5f;
            font-size: 1.6rem;
          }
        }
      }

      .section-three {
        margin: 100px 0px;

        .left-side {
          img {
            height: 100%;
            width: 100%;
          }
        }
        .right-side {
          h1 {
            color: #404d5f;
            font-size: $textheadersize;
          }

          p {
            color: #999;
          }
          a {
            .link {
              .para-wrapper {
                vertical-align: middle;
                display: inline-block;
                background: #2286d1;
                height: 35px;

                p {
                  padding: 8px 10px;
                  margin: 0;
                  color: #fff;
                }
              }

              .image-wrapper {
                box-sizing: border-box;
                height: 35px;
                vertical-align: middle;
                display: inline-block;
                background: #404d5f;

                img {
                  padding: 10px;
                }
              }
            }
          }
        }
      }
      .section-four {
        height: auto;
      }
    }
  }
}
.about {
  height: 500px;
  padding-top: 90px;

  h1 {
    color: rgb(64, 77, 95);
  }

  .heading {
    text-align: center;

    hr {
      max-width: 40px;
      border-top: 2px solid #2286d1;
    }

    p {
      margin: 0 auto;
      max-width: 90%;
    }
  }

  .section {
    &.one {
      height: auto;
      margin: 20px 0px;

      .content {
        margin: 20px auto;
        width: 90%;
        height: auto;
        border: 1px solid #ddd;
        padding: 30px 0px;

        img {
          position: relative;
          left: -30px;
          vertical-align: middle;
          display: inline-block;
          width: 20%;
          height: 70px;
          width: 70px;
        }

        .content-wrapper {
          vertical-align: middle;
          display: inline-block;
          width: 73%;

          h2 {
            font-weight: 400;
            color: #333232;
            font-family: 'Open-Sans';
          }
        }
      }
    }

    &.two {
      .content {
        margin: 20px auto;

        img {
          display: block;
          margin: 0 auto;
          width: 100%;
          height: auto;
        }
      }
    }
  }
}

.services {
  padding-top: 90px;

  h1 {
    color: rgb(64, 77, 95);
  }

  .container {
    .heading {
      text-align: center;

      hr {
        max-width: 40px;
        border-top: 2px solid #2286d1;
      }

      p {
        margin: 0 auto;
        max-width: 90%;
      }
    }

    .section {
      margin: 20px 0px;
      text-align: center;

      &.one {
        height: auto;
        text-align: center;

        .logos {
          border: 1px solid #ddd;
          padding: 10px;
          margin: 40px 0;

          .logo-wrapper {
            img {
              width: 60px;
              height: 60px;
              display: block;
              margin: 0 auto;
            }
          }
          h3 {
            text-transform: uppercase;
            font-family: 'Open-Sans';
            color: #404d5f;
            font-size: 1.6rem;
          }
        }
      }
      &.two {
        .boxes {
          margin: 0 auto;

          .box {
            margin: 20px 0;
            height: 400px;
            box-shadow: 0 0 9px rgba(0, 0, 0, 0.12);

            .image-wrapper {
              height: 70%;
              background: #fff;
              position: relative;

              img {
                border-radius: 50%;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
              }
            }
            .info-wrapper {
              h3 {
                color: #404d5f;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 786px) {
  .home {
    .body {
      .container {
        .section-two {
          .logos {
            display: inline-block;
            width: 45%;
          }
        }

        .section-four {
          margin: 100px 0px;
        }
      }
    }
  }
  .services {
    .container {
      .section {
        &.one {
          .logos {
            display: inline-block;
            width: 45%;
            border: none;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 990px) {
  nav {
    .container {
      .hamburger-menu,
      .menu-items {
        display: none;
      }
      .web-menu {
        display: block;

        ul {
          margin: 15px 0px;

          a {
            color: #404d5f;
            font-weight: 600;
            display: inline-block;
          }

          a > li {
            margin: 0px 15px;
          }

          a:last-child > li {
            margin-right: 0;
          }
        }
      }
    }
  }
  .home {
    .body {
      .container {
        .section-three {
          .left-side,
          .right-side {
            vertical-align: top;
            margin: 15px;
            padding: 20px 0px;
            width: 45%;
            display: inline-block;
          }
        }
      }
    }
  }
  .about {
    .container {
      .section {
        &.one {
          .content {
            display: inline-block;
            width: 45%;
            margin: 20px;
          }
        }
      }
    }
  }
  .services {
    .container {
      .section {
        &.one {
          .logos {
            width: 30%;
          }
        }
        &.two {
          .boxes {
            display: flex;

            .box {
              margin: 15px;
              flex: 1;
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1200px) {
  .home {
    .header {
      background-size: 100%;
    }
    .body {
      .container {
        .section-one {
          .header {
            top: -150px;
            position: relative;
            width: 100%;
            display: flex;
            flex-wrap: wrap;

            section {
              height: auto;
              flex: 1;
            }
          }
        }
        .section-two {
          .logos {
            width: 30%;
          }
        }
        .section-three {
          .right-side {
            h1 {
              font-size: 2rem;
            }
            p {
              line-height: 1.7;
            }
          }
        }
      }
    }
  }
}
