footer {
  
  height: auto;
  background: #020f20;
  padding: 20px 0px;

  ::-moz-placeholder{
    font-family: sans-serif;
    font-style: italic;
  }
  ::placeholder{
    font-family: sans-serif;
    font-style: italic;
  }
  ::-webkit-input-placeholder{
    font-family: sans-serif;
    font-style: italic;
  }
  :-ms-input-placeholder{
    font-family: sans-serif;
    font-style: italic;
  }
  ::-ms-input-placeholder{
    font-family: sans-serif;
    font-style: italic;
  }

  h1{
    color: #006cff;
  }

  .container {
    .sections {

      .section {
        margin: 15px 0px;
        
        &.one {
          .logo-wrapper {
            h1 {
              font-size: 2.5rem;
              color: #006cff;
              opacity: 1;
              span {
                color: #fff;
              }
            }
          }
          .text-wrapper {
            p {
              margin: 20px 0px;
              line-height: 1.7;
            }
          }
          .icon-wrapper {
            img {
              margin: 0px 5px;
            }
          }
        }
  
        &.two{
  
          .blog{
            margin: 30px 0px;
  
            .image-wrapper{
              display: inline-block;
              width: 30%;
  
              img{
                height: 120px;
                width: 120px;
              }
            }
            .info-wrapper{
              vertical-align: top;
              display: inline-block;
              width: 65%;
  
              small, p{
                margin: 0;
                font-size: 18px;
                color: #999;
              }
            }
          }
        }
        
        &.three {
        
          form{
            box-sizing: border-box;
            margin: 15px 0px;
            padding: 10px 35px;
            background: #081f3e;
            width: 100%;
            height: auto;
          }
          
          input, textarea {
            box-sizing: border-box;
            color: #fff;
            outline: none;
            background: transparent;
            border: none;
            display: block;
            width: 100%;
            border-bottom: 2px solid #536174;
            font-family: sans-serif;
  
  
          }
          
          input {
            margin: 15px 0px;
            padding: 10px;
            height: 50px;
          }
  
  
          textarea{
            margin: 30px 0px;
            padding: 0px 10px;
            resize: none;
          }
  
          button {
            margin: 15px 0px;
            padding: 10px 40px;
            color: #fff;
            background: #006cff;
            border: none;
          }
        }
  
        &.four{
           .wrapper{
              margin: 30px 0px;
  
             input{
               padding: 0px 10px;
               vertical-align: top;
               display: inline-block;
               width: 65%;
               background: #081f3e;
               height: 50px;
               border: 1px solid #081f3e;
             }
             button{
               color: #fff;
              height: 50px;;
               border: none;
              vertical-align: top;
              display: inline-block;
               width: 30%;
               background: #006cff;
             }
  
             p{
               line-height: 1.7;
             }
           }
        }
      }
  
    }
    > p {
      text-align: center;
      color: #fff;
    }
  }

}

@media screen and (min-width: 786px) {
  footer{
    .container{
      .sections{

        .section{
          vertical-align: top;
          display: inline-block;
          width: 45%;
          margin: 15px;
  
          &.two{
  
            .blog{
               .image-wrapper{
                img{
                  height: 80px;
                  width: 80px;
                }
               }
            }
          }
  
          &.four{
            .wrapper{
              input {
                display: block;
                width: 100%;
              }
              button{
                margin: 15px 0px;
              }
            }
          }
        }
      }
    }
  }
} 
@media screen and (min-width: 1200px) {
  footer {
    .container{
      width: 90%;
      max-width: 1400px;

      .sections{
        display: flex;

        .section{
          flex: 1;
          width: 100%;
  
          &.two{
  
            .blog{
               .info-wrapper{
                p, small{
                  font-size: 1rem;
                }
               }
            }
          }
        }
      }
    }
  }
}